# Prerequisites
*.d

# Compiled Object paths
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module paths
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
build/*
cmake-build-debug/*

# IDES
.vscode
.idea
.vs
out/*
CMakeSettings.json
**/cmake-build-**/*

# Imgui
**/imgui.in

# Build System
.tup
build
build_test